* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(34, 32, 32);
}

.parent {
  height: 100%;
  width: 100%;
  background-color: rgb(26, 160, 197);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

 
}
.child1 {
  height: 100px;
  width: 100px;
  background-color: crimson;

 
}
.child2 {
  height: 100px;
  width: 100px;
  background-color: rgb(17, 37, 148);

  
}
.child3 {
  height: 100px;
  width: 100px;
  background-color: rgb(63, 163, 23);

}
