* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
#parent {
  background-color: crimson;
  /* padding: 10px; */
  display: flex;
}
.inner{
  background-color: royalblue;
  display: flex;
  padding: 5px;
  animation-name: sher;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.inner h4{
  padding: 5px;
}
@keyframes sher {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
