* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
     height: 100%;
     width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   grid-template-areas: 
   "top-center top-center top-center"
   "left-center center-bottom right-center"
   "left-bottom center-bottom right-bottom"
   ;
   gap: 5px;
}
.top-center{
    grid-area: top-center;
    background-color: lightgreen;
}
.left-center{
    grid-area: left-center;
    background-color: violet;
}
.left-bottom{
    background-color: yellowgreen;
    grid-area: left-bottom;
}
.center-bottom{
    background-color: goldenrod;
    grid-area: center-bottom;
}
.right-center{
    grid-area: right-center;
    background-color: firebrick;
}
.right-bottom{
    grid-area: right-bottom;
    background-color: indigo;
}